### Name K N Anantha nandanan
#### Roll No : AM.U4CSE19326

## Labsheet-9 BBC news classifeir

### Imports

In [37]:
import nltk
import pandas as pd
import os
import numpy as np
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.snowball import SnowballStemmer
import re
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import string
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm

### Preprocessing

In [16]:
def preProcessing(text):
    #print(type(text))
    stemm_snow = SnowballStemmer("english")
    lem = WordNetLemmatizer()
    text = text.replace("\n", " ")
    text = re.sub(r"[0-9]", "", text)
    text = text.lower()
    text = word_tokenize(text)
    text = [stemm_snow.stem(word) for word in text]
    text = [lem.lemmatize(word) for word in text]
    text = [char for char in text if char not in string.punctuation]
    text = [word for word in text if word not in stopwords.words('english')]
    text = ' '.join(text)
    
    return text

In [10]:
data=[]
path = '../Datas/bbc_sports.csv'
df = pd.read_csv(path)
df.head()

   Unnamed: 0                                               data  labels
0           0  England victory tainted by history\n\nAs Engla...       1
1           1  Australia complete sweep\n\nThird Test, Sydney...       1
2           2  UK Athletics agrees new kit deal\n\nUK Athleti...       0
3           3  Bekele sets sights on world mark\n\nOlympic 10...       0
4           4  Captains lining up for Aid match\n\nIreland's ...       3

In [17]:
df['data'] = df['data'].apply(preProcessing)

In [20]:
df.head(-5)

     Unnamed: 0                                               data  labels
0             0  england victori taint histori england attempt ...       1
1             1  australia complet sweep third test sydney day ...       1
2             2  uk athlet agr new kit deal uk athlet ha agr ne...       0
3             3  bekel set sight world mark olymp champion kene...       0
4             4  captain line aid match ireland 's brian o'dris...       3
..          ...                                                ...     ...
727         727  wilkinson injuri toughen england skipper jonni...       3
728         728  sfa await report mikoliuna scottish footbal as...       2
729         729  big gun ea san jose top-se american andi roddi...       4
730         730  collin compet birmingham world commonwealth ch...       0
731         731  mcclaren target champion leagu middlesbrough b...       2

[732 rows x 3 columns]

### Vectorise the data

In [21]:
text = df['data']

In [23]:
tfidf_vectoriser = TfidfVectorizer()
X = tfidf_vectoriser.fit_transform(text)

In [26]:
Y = df['labels'].values
Y

array([1, 1, 0, 0, 3, 2, 4, 4, 2, 0, 0, 2, 0, 1, 1, 1, 3, 2, 2, 0, 2, 4,
       2, 1, 2, 2, 1, 2, 3, 4, 0, 4, 4, 1, 2, 2, 2, 3, 0, 2, 2, 0, 2, 2,
       2, 3, 3, 2, 2, 0, 3, 3, 2, 3, 3, 2, 2, 4, 3, 3, 2, 3, 3, 2, 3, 2,
       3, 3, 2, 2, 3, 3, 2, 3, 1, 4, 4, 3, 2, 2, 1, 4, 1, 0, 2, 3, 2, 3,
       2, 1, 0, 0, 2, 1, 3, 4, 2, 3, 1, 2, 3, 4, 4, 2, 3, 3, 4, 2, 2, 2,
       1, 2, 2, 0, 3, 1, 4, 1, 2, 3, 0, 1, 0, 2, 2, 2, 0, 3, 2, 0, 0, 3,
       0, 2, 2, 2, 1, 2, 2, 3, 2, 1, 1, 4, 2, 2, 2, 0, 3, 2, 3, 2, 3, 2,
       0, 3, 3, 2, 2, 3, 4, 4, 4, 3, 0, 2, 0, 4, 2, 2, 1, 3, 3, 1, 1, 2,
       2, 1, 2, 0, 3, 3, 0, 3, 3, 2, 0, 2, 2, 2, 1, 2, 1, 2, 4, 2, 3, 2,
       4, 2, 2, 4, 2, 2, 1, 1, 2, 2, 0, 3, 2, 4, 2, 2, 4, 1, 2, 2, 3, 1,
       2, 3, 0, 1, 2, 2, 2, 2, 3, 1, 2, 2, 2, 0, 0, 4, 0, 2, 3, 3, 2, 4,
       3, 4, 3, 4, 0, 2, 2, 4, 0, 2, 0, 3, 2, 3, 3, 1, 2, 2, 2, 0, 2, 2,
       2, 1, 4, 2, 1, 2, 1, 3, 2, 1, 2, 1, 2, 1, 1, 4, 3, 1, 0, 3, 2, 3,
       0, 4, 1, 0, 0, 1, 3, 2, 1, 1, 3, 1, 2, 1, 1, 1, 3, 2, 2, 4, 3, 1,
       2, 3, 4, 3, 1, 0, 2, 3, 4, 0, 1, 2, 1, 2, 2, 3, 2, 4, 4, 2, 3, 2,
       3, 3, 4, 2, 2, 2, 3, 1, 4, 4, 0, 0, 2, 1, 2, 3, 2, 2, 3, 1, 2, 0,
       2, 4, 2, 4, 1, 3, 2, 4, 1, 0, 0, 2, 4, 0, 2, 3, 4, 2, 4, 0, 0, 2,
       2, 3, 2, 4, 3, 1, 3, 2, 1, 0, 2, 3, 3, 2, 2, 2, 3, 1, 1, 1, 2, 0,
       2, 2, 4, 3, 2, 2, 2, 3, 1, 0, 3, 3, 2, 2, 2, 2, 1, 2, 0, 2, 2, 0,
       3, 3, 2, 4, 0, 1, 4, 1, 2, 2, 4, 0, 4, 2, 2, 2, 2, 4, 2, 2, 1, 4,
       2, 2, 2, 1, 0, 4, 0, 2, 4, 4, 1, 4, 2, 2, 2, 3, 2, 3, 3, 1, 1, 1,
       3, 3, 1, 1, 0, 0, 2, 4, 1, 3, 4, 2, 2, 4, 2, 3, 0, 4, 2, 0, 3, 2,
       3, 2, 1, 1, 2, 1, 3, 0, 3, 3, 4, 3, 2, 2, 4, 3, 4, 2, 0, 0, 2, 1,
       4, 1, 2, 2, 0, 4, 1, 3, 3, 1, 1, 2, 2, 4, 4, 3, 4, 1, 1, 2, 3, 2,
       4, 2, 4, 3, 2, 0, 0, 0, 2, 0, 4, 1, 2, 4, 2, 2, 0, 2, 3, 4, 3, 3,
       1, 3, 3, 2, 1, 1, 3, 4, 4, 4, 2, 0, 0, 2, 1, 1, 2, 1, 1, 1, 2, 3,
       2, 3, 3, 3, 2, 2, 2, 1, 3, 2, 2, 1, 2, 0, 1, 1, 1, 3, 2, 1, 2, 2,
       4, 2, 2, 2, 0, 2, 2, 2, 2, 0, 3, 2, 2, 3, 4, 2, 1, 2, 4, 4, 2, 4,
       1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 2, 3, 1, 1, 3, 1, 3, 0, 2, 1, 0, 4,
       3, 2, 3, 2, 1, 2, 3, 3, 2, 2, 2, 3, 1, 0, 4, 1, 3, 2, 3, 2, 2, 1,
       1, 1, 4, 0, 2, 1, 0, 3, 3, 3, 2, 0, 0, 2, 1, 2, 0, 2, 2, 4, 2, 0,
       3, 2, 2, 2, 2, 3, 0, 4, 1, 0, 1, 2, 3, 4, 1, 2, 3, 3, 4, 4, 2, 2,
       2, 1, 4, 1, 0, 2, 2, 4, 1, 0, 3, 4, 4, 1, 0, 3, 2, 4, 2, 2, 3, 2,
       0, 3, 2, 4, 0, 2, 4, 1, 3, 3, 4])

In [28]:
print(X.shape, Y.shape)

(737, 9117) (737,)

### ML algo-1 KNN

In [30]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, shuffle=True)

In [32]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=3)

In [33]:
pred = knn.predict(X_test)

In [34]:
## Report
print(classification_report(Y_test, pred))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96        24
           1       0.97      1.00      0.98        30
           2       1.00      0.96      0.98        52
           3       0.96      1.00      0.98        24
           4       1.00      1.00      1.00        18

    accuracy                           0.98       148
   macro avg       0.98      0.98      0.98       148
weighted avg       0.98      0.98      0.98       148

In [36]:
print("accuracy score", accuracy_score(Y_test, pred))

accuracy score 0.9797297297297297

### ML Algo-2 SVM

In [38]:
sv_model = svm.SVC()
sv_model.fit(X_train, Y_train)

SVC()

In [39]:
pred = sv_model.predict(X_test)

In [40]:
print("Classification report")
print(classification_report(Y_test, pred))

Classification report
              precision    recall  f1-score   support

           0       1.00      0.96      0.98        24
           1       1.00      0.97      0.98        30
           2       0.90      1.00      0.95        52
           3       0.95      0.83      0.89        24
           4       1.00      0.94      0.97        18

    accuracy                           0.95       148
   macro avg       0.97      0.94      0.95       148
weighted avg       0.96      0.95      0.95       148

In [ ]:
print("Accuracry score")
print(accuracy_score(Y_test, pre)